/.idea/.idea.MachineLearning/.idea/.gitignore
/.idea/.idea.MachineLearning/.idea/.name
/.idea/.idea.MachineLearning/.idea/indexLayout.xml
/DecisionTree/obj/project.packagespec.json
/DecisionTree/obj/rider.project.model.nuget.info
/DecisionTree/obj/rider.project.restore.info
/.idea/.idea.MachineLearning/.idea/vcs.xml
